.Rproj.user
*.Rproj
.Rhistory
*.RData
*.Rdata
*.Rds
.Ruserdata
R_credentials.R
*.log
*.html
library.bib
*.pdf
*.doc
*.docx
*.aux
*.out
veslog_species_research.dta
img_source.dta
img_source_no_blobs.dta
research_me2.dta
testing_odbc.do
tiny_odbc.do
matlab/
exclude/
dui_southern_shp.dta
tl_2016_us_county.shp
tl_2016_us_county_shp.dta

